profiles {
	standard {
		includeConfig './conf/standAloneRun.config'
		params.DoubletFinder.container = "" //must stay empty
		process {
			executor = 'local'
		}
	}
	docker {
		includeConfig './conf/standAloneRunContainer.config'
		docker.enabled = true
		params.Seurat.container = ""
		process {
			containerOptions = "-v ${params.global.datadir}:${params.global.datadir} \
				-v ${params.global.rundir}:${params.global.rundir} \
				-v ${params.global.outdir}:${params.global.outdir}"
		}
	}
}

includeConfig './conf/doubletFinder.config'
params{
	configParser = {var, varmap ->
			if(varmap.containsKey(var)){
				return varmap[var]
			}else{
				return varmap
			}
	}
}
